<div class="actor-detail-wrapper">
    <div class="row ">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="actore-main-image hidden-xs">
                        <div class="row main-image-wrapper">
                            <img class="main-image" ng-src="{{mainImage}}">
                        </div>
                    </div>
                    <div class="col-md-4 visible-xs">
                        <div class="row">
                            <img class="main-image" ng-src="{{mainImage}}">
                        </div>
                    </div>
                    <div class="actor-desc">
                        <div class="row">
                            <div class="actor-info text-justify">
                                <h3>{{actor.name}}</h3>
                                <p>Birthday: {{actor.birthday | date : 'dd MMMM yyyy'}}</p>
                                <p ng-if="actor.deathday">Death Day: {{actor.deathday}}</p>
                                <p>Place of Birth: {{actor.place_of_birth}}</p>

                                <h4 class="">Biography</h4>
                                <p>{{actor.biography}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row actor-movies">
                <h3>{{actor.name}} - Movies</h3>
                <div ng-if="movie.poster_path" class="actor-movie col-sm-2 col-xs-6" ng-repeat="movie in movieCredits">
                    <a href="#/movie/{{movie.id}}"><img class="img-" ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}"></a>
                </div>
            </div>
        </div>
    </div>
</div>