.dropdown-genres {
  display: none;
}

@media screen and (max-width: 1063px) {
    .genres {
        display: none;
    }

    .dropdown-genres {
      display: block;
    }

}

@media screen and (min-width: 1061px) {
    .sidebar-genres-menu {
      position: fixed;
      top: 2%;
      right: 3%;
    }
}

.genres-container {

}


.genres div {
  width: 200px;
}

.genres {
  list-style: none !important;
  padding-left: 0 !important;
}
 
.genres h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
.genres ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.genres li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  /*border-bottom: 1px solid #82C4FF;*/
}
 
.genres li:last-child {
  border: none;
}
 
.genres li a {
  text-decoration: none;
  color: #0087FF;
  display: block;
  width: 200px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.genres li a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #B2DBFF;
  content: "";
  transition: width 0.5s;
}

.genres li a:hover {
  color: #B2DBFF;
}

.genres li a:hover:after {
  width: 100%;
}

.right {
  float: right;
}

/* LIST #8 */
.list8 {  }
.list8 ul { list-style:none; }
.list8 ul li { font-family:Georgia,serif,Times; font-size:18px; }
.list8 ul li a { display:block; width:300px; height:28px; background-color:#333; border-left:5px solid #222; border-right:5px solid #222; padding-left:10px;
  text-decoration:none; color:#bfe1f1; }
.list8 ul li a:hover {  -moz-transform:rotate(-5deg); -moz-box-shadow:10px 10px 20px #000000;
  -webkit-transform:rotate(-5deg); -webkit-box-shadow:10px 10px 20px #000000;
  transform:rotate(-5deg); box-shadow:10px 10px 20px #000000; }
  .list8 ul {
    padding-left: 0 !important;
  }






 .orders * {
  margin: 0;
  padding: 0;
}

.orders nav {
  margin: 25px 0px;
}

.orders ul {
  overflow: auto;
  list-style-type: none;
}

.orders li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #B2DBFF;
  padding: 0 20px;
}

.orders li:last-child {
  border-right: none;
}

.orders li a {
  text-decoration: none;
  color: #0087FF;
  font: 21px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.orders li a:hover {
  color: #B2DBFF;
}

.orders li.active a {
  font-weight: bold;
  color: #333;
}