<div class="container">
  <div class="row ">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6">
            <img class="img-full" ng-src="{{mainImage}}">
          </div>
          <div class="col-md-6">
            <div class="info">
              <p>Title: <strong>{{movie.title}}</strong></p>
              <p>Release date: {{movie.release_date | date : 'dd MMMM yyyy'}}</p>
              <p>Duration: {{movie.runtime}} min</p>
              <p>Popularity: {{movie.popularity}}</p>
              <p>Budget: {{movie.budget | currency}}</p>
              <p>Revenue: {{movie.revenue | currency}}</p>
            </div>
            <div class="row thumbnails">
              <div class="col-xs-3 col-lg-3" ng-repeat="image in movie.images | limitTo: 4">
                  <a href="" ng-click="changePicture(image.file_path)"><img class="img-thumbnail img-full" ng-src="http://image.tmdb.org/t/p/w500{{image.file_path}}"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row movie-description text-justify">
          <div class="col-xs-12 col-lg-12">
              <p>{{movie.overview}}</p>
          </div>
        </div>
      </div>

      <div class="row movie-trailer">
        <div class="col-md-12">
            <youtube-video video-id="videoId"></youtube-video>
        </div>
      </div>

      <div class="row movie-actors">
        <div class="col-xs-6 col-lg-3" ng-repeat="actor in movie.actors">
          <div>
            <img ng-if="actor.profile_path" class="img-thumbnail img-full image-sh" ng-src="http://image.tmdb.org/t/p/w500{{actor.profile_path}}">
            <img ng-if="!actor.profile_path" class="img-thumbnail img-full image-sh" ng-src="app/img/noimage.jpg">
            <a ng-href="#/actor/{{actor.id}}" ng-click="toggleCommentsForm()" class="btn btn-warning movie-actor-name">{{actor.name}}</a>
          </div>
        </div>
      </div>

      <div class="row mybody">
          <div class="col-md-12">
            <h3>Similar movies</h3>
              <div class="doc-list-wrapper" data-docs="docs"></div>
          </div>
      </div>

      <script type="text/ng-template" id="tmpl-doc-list-wrapper">
        <ul class="doc-list" bx-slider>
            <li class="doc-thumbnail" ng-repeat="doc in docs" bx-slider-item>
                <a href="#/movie/{{doc.id}}"><img ng-src="{{doc.doc}}"></a>
            </li>
        </ul>
      </script>

    </div>

  </div><!--/row-->

</div><!--/.container-->
