<div class="movie-detail-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="movie-data">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <img class="img-full img-main" ng-src="{{mainImage}}">
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="info">
                            <h3>{{movie.title}}</h3>
                            <p>Release date: {{movie.release_date | date : 'dd MMMM yyyy'}}</p>
                            <p>Duration: {{movie.runtime}} min</p>
                            <p>Popularity: {{movie.popularity}}</p>
                            <p>Budget: {{movie.budget | currency}}</p>
                            <p>Revenue: {{movie.revenue | currency}}</p>
                            <p>{{movie.overview}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row movie-trailer">
                <div class="col-md-12">
                    <youtube-video video-id="videoId"></youtube-video>
                </div>
            </div>

            <div class="row movie-actors">
                <div class="col-md-2 col-sm-3 col-xs-6" ng-repeat="actor in movie.actors">
                    <div class="row actor-wrapper">
                        <a ng-href="#/actor/{{actor.id}}">
                            <img ng-if="actor.profile_path" class="image-sh" ng-src="http://image.tmdb.org/t/p/w500{{actor.profile_path}}">
                            <img ng-if="!actor.profile_path" class="image-sh" ng-src="app/img/noimage.jpg">
                            <p ng-href="#/actor/{{actor.id}}" class="btn btn-success movie-actor-name">{{actor.name}}</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>